.mobile-menu{
    padding: 24px;
    height: 100%;
}

.mobile-menu a{
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
}

.mobile-menu ul{
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}

.categories{
    border-bottom: 1px solid var(--text-subtitle);
}

.mobile-menu ul li{
    margin-bottom: 24px;
}

.mobile-menu .email{
    font-size: var(--sm);
    font-weight: 300;
}

.mobile-menu .sign-out{
    color: var(--blue-acent);
    font-size: var(--sm);
}

.submenus{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.accounts{
    position: absolute;
    bottom: 0;
    margin-bottom: 28px;
}