.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--white);
}

.input{
    background-color: var(--dark-input-field);
    border: none;
    border-radius: 8px;
    height: 32px;
    font-size: var(--md);
    padding: 8px 4px 4px 8px;
    margin-bottom: 12px;
    color: var(--dark-text-input-field);
}

.form{
    display: flex;
    flex-direction: column;
}
